# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
google-services.json
GoogleService-Info.plist

# Metro
.metro-health-check*

# debug / logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# testing
coverage/
.nyc_output/

# env files (keep .env.example)
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.pem

# IDE
.idea/

# typescript
*.tsbuildinfo

example

# generated native folders
/ios
/android
